#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	set -x
	whoami
	mkdir -p bin
	set -ex && \
		export CGO_ENABLED=1 && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w" \
			-tags "netgo osusergo exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp" \
			-o ./bin/skopeo ./cmd/skopeo

override_dh_auto_install:

	install -Dpm755 -d debian/tmp/usr/bin
	install -Dpm755 -d debian/tmp/usr/share/bash-completion/completions
	install -Dpm755 -t debian/tmp/usr/bin bin/skopeo
	./bin/skopeo completion bash > debian/tmp/usr/share/bash-completion/completions/skopeo

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
